{% extends 'base.html.twig' %}

{% block body %}
<main class="container my-5">
  <div class="row">
    <div class="offset-md-3 col-md-6">
      <div class="p-3">
        <p id="displayErrors" class="d-none alert alert-danger rounded text-center lead"></p>
      </div>
      <div id="mainContainer" class="p-3">
        <div class="border p-3 bg-light text-center">
          <div class="pb-5 px-3">
            <p class="lead">Current connected user:
              {# <?php
              if (isset($_SESSION['user']) === TRUE) {
                echo $_SESSION['user'];
              } else {
                echo 'No user connected';
              }
              ?> #}
            </p>
            <span class="font-italic text-secondary">(just for debugging)</span>
          </div>
          <div class="pt-0 pb-3 px-3">
            <button id="signTab" class="btn btn-md bg-primary text-white" type="button">Show Sign Up</button>
          </div>
          <!-- SIGN IN -->
          <form id="sign_in_form" method="POST" enctype="multipart/form-data" onsubmit="submitForm(this, signInResponse); return false;">
            <div class="form-group">
              <input class="form-control" type="text" name="username" placeholder="username" required>
            </div>
            <div class="form-group">
              <input class="form-control" type="password" name="password" placeholder="password" required>
            </div>
            <div class="form-group">
              <button class="btn btn-md bg-dark text-white" type="submit" name="sign-in">Submit</button>
            </div>
          </form>
          <!-- SIGN UP -->
          <form id="sign_up_form" class="d-none" method="POST" enctype="multipart/form-data" onsubmit="submitForm(this, signUpResponse); return false;">
            <div class="form-group">
              <input class="form-control" type="text" name="username" placeholder="username" required>
            </div>
            <div class="form-group">
              <input class="form-control" type="text" name="folder-name" placeholder="folder name" required>
            </div>
            <div class="form-group">
              <input class="form-control" type="password" name="password" placeholder="password" required>
            </div>
            <div class="form-group">
              <input class="form-control" type="password" name="confirm-password" placeholder="confirm password" required>
            </div>
            <div class="form-group">
              <button class="btn btn-md bg-dark text-white" type="submit" name="sign-up">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
