<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
  </head>
    <body>
      <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-1">
          <a class="navbar-brand" href="{{ path('home') }}">
            <button class="btn btn-lg bg-dark text-white" type="button">Home</button>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div id="navbarNav" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
              {% if active_page is not defined or active_page != 'users' %}
              <li class="nav-items">
                <a class="nav-link btn btn-lg bg-dark text-white" href="{{ path('user.index') }}">Users</a>
              </li>
              {% endif %}
            </ul>
            <ul class="navbar-nav">
              {% if active_page is not defined or active_page != 'form' %}
              <li class="nav-items">
                <a class="nav-link btn btn-lg bg-dark text-white" href="{{ path('app_login') }}">Form</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </nav>
      </header>
      <main class="container my-5">
        <div class="row">
          <div class="offset-md-3 col-md-6">
            <div class="p-3">
              <p id="displayErrors" class="d-none alert alert-danger rounded text-center lead"></p>
            </div>
            <div id="mainContainer" class="p-3">
            {% block body %}{% endblock %}
            </div>
          </div>
        </div>
      </main>

      {% block javascripts %}{% endblock %}
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>
